body {
  background-color: #f6fffa;
  font-family: "티머니 둥근바람";
  flex: 1;
}
.green-nav {
  background: rgb(5, 63, 31);
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
}

a {
  text-decoration: none;
}

.all {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 100px 100px 100px 100px;
}

.whtthe {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
  width: auto;
  position: relative;
  font-weight: bold;
  direction: ltr;
  margin-left: 5%;
}

.login {
  margin-left: 5%;
  position: relative;
  display: inline-block;
  text-align: center;
  background: #fff;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  unicode-bidi: embed;
  padding-bottom: 24px;
  padding-top: 10px;
  align-items: center;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  padding: 20px 0 28px;
  width: 400px;
  height: 350px;
}

input {
  width: 300px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #dddfe2;
  background-color: #f6fffa;
  margin-bottom: 0.3em;
}
.button {
  background-color: #6edaa0;
  width: 100px;
  height: 30px;
}

.button2 {
  background-color: rgb(0, 255, 76);
}
