body {
  background-color: #f6fffa;
  font-family: "티머니 둥근바람";
  flex: 1;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.all {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 70px 100px 100px 100px;
}

.whtthe {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
  width: auto;
  position: relative;
  font-weight: bold;
  direction: ltr;
}

.login {
  position: relative;
  display: inline-block;
  text-align: center;
  background: #fff;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  unicode-bidi: embed;
  align-items: center;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  padding: 28px 0 28px;
  width: 380px;
  height: 420px;
}

h3 { margin-bottom : 0;}

input {
  font-size: medium;
  width: 330px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #dddfe2;
  background-color: #f6fffa;
  margin-bottom: 0.8em;
}
.login_but {
  background-color: rgb(102, 217, 190);
}
.sign_but {
  background-color: rgb(102, 217, 190);
}

h4 {
  color:grey;
}

hr {
  border : 0px;
  height: 1px;
  background-color:gainsboro;
}