.App {
  text-align: center;
}

.App-logo {
  height: 35vh;
  pointer-events: none;
  position: absolute;
  /* top: 1px; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.lt {
  position: absolute;
  z-index: 1;
  left: 1;
  width: 120px;
  height: auto;
}
.App-header {
  background-color: xx;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  font-family: "티머니 둥근바람";
  position: relative;
  top: -75px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
