body {
  background-color: #f6fffa;
  font-family: "티머니 둥근바람";
  flex: 1;
  text-align: center;
  overflow: hidden;
}
.logo{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
  width: auto;
  position: relative;
  font-weight: bold;
  direction: ltr;
  top : 70px;
}
.allitems {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #fff;
  color: #1c1e21;
  line-height: 1.34;
  unicode-bidi: embed;
  align-items: center;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  width: 380px;
  height: 500px;
  margin: auto;
  position: relative;
  top: 100px;
}
.birthdayTitle {
  font-size: 15px;
  float: left;
  width: 150px;
  margin: 0 auto;
}
.birthdayCon {
  float: left;
  width: 250px;
  margin: 0 auto;
}
.birthday {
  overflow: hidden;
  width: 400px;
  height: 50px;
}

.birthdayTitle > p {
  margin: 10px 0 0 0;
}
